<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN GDSC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="LOG IN.css">
    <link rel="icon" href="pictures/logo1.jpg" type="image/x-icon">

</head>

<body>
    <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg></a>
    <div class="login-box">
        <img src="pictures/download.png" class="avatar">
        <h1>Login Here</h1>
        <form  onsubmit="sendEmail()"; reset(); return false;>
            <p>Email</p>
            <input type="email" placeholder="example@gmail.com" id="email" name="Secondname" required>
            <p>Password</p>
            <input type="password" placeholder="Enter Password" id="password" name="password" required>
            <span class="toggle-icon" onclick="togglePasswordVisibility()">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
                </span>
            <br>
            <input type="Submit" value="Login">
            <br>
            <a href="#">Forgot your password?</a>
                <br>
                <br>
            <a href="#">Create a new account</a>

            
        </form>
    </div>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    function sendEmail(){
        Email.send({
Host : "smtp.gmail.com",
Username : "gmukira78@gmail.com",
Password : "Wang'ondu2580",
To : 'gmukira78@gmail.com',
From : document.getElementById("email").value,
Subject : "New Contact",
Body : "And this is the body"
}).then(
message => alert(message)
);
}
</script>
<script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>

</body>
</html>